<div class="user-form-wrapper">
  <h3>User Form</h3>
  <form [formGroup]="parentFormGroup" (ngSubmit)="submitForm()">
    <div>
      <label for="firstname">Vorname</label>
      <input id="firstname" type="text" formControlName="first">
    </div>

    <div>
      <label for="lastname">Nachname</label>
      <input id="lastname" type="text" (submit)="formSubmitted.emit()" formControlName="last">
    </div>

    <!--    Attention: Always have a Button with type 'submit' present, otherwise this event is not captured! -->
    <button type="submit" [class.remove]="!shouldDisplaySubmitButton">Submit | Can be hidden</button>

  </form>

</div>
