<h1>Root Container</h1>
<div class="border-root-container">
  <form [formGroup]="form" (ngSubmit)="submitAllForms()">

    <app-user-form
      [parentFormGroup]="getChildFormGroup('userInformation')"
      [userInformation]="prefilledUserInformation"
    >
    </app-user-form>

    <app-company-form
      [companyForm]="getChildFormGroup('companyInformation')"
      [companyInformation]="prefilledCompanyInformation"
    >
    </app-company-form>

    <button type="submit">Abschicken</button>
  </form>
</div>
